h1 {
  text-align: center;
  color:beige
}

.character-detail {
  display: grid;
  color:beige;
  text-align: center;
  justify-items: center; 
  padding-right: 10vw;  
  padding-left: 10vw;  
}

.character-detail > button {
  width: 15vw;
  padding: 5px;
  border-radius: 10px;
  margin-top: 50px;
  background-color:aqua;
  font-weight: bold;
  font-size: large;
}

.character-detail > ul {
  text-align: left;
}

li {
  padding: 5px
}

.character-detail > h2 {
  color: yellow
}

.character-detail > h3 {
  color: rgb(255, 255, 129)
}

.character-grid {
  display: flex;                  
  flex-wrap: wrap;               
  justify-content: center;       
}

.character-card {
  display: flex;                 
  flex-direction: column;         
  align-items: center;           
  width: 20%;
  margin: 1vw;                 
}

.character-card h2 {
  font-size: 1.25vw;
  color: rgb(255, 255, 255);   
}

.character-card img {
  width: 100%;             
  height: 100%;                 
  object-fit: cover;             
}

body {
  background-color: rgb(29, 22, 70);       
}